<h1>Books</h1>
<table>
	<thead>
			<th>Title</th>
			<th>Body</th>
	</thead>
	<tbody>
		<tr>
			<td>仮_ruby入門</td>
			<td>仮_rubyについての解説書</td>
			<td>Show</td>
			<td>Edit</td>
			<td>Destroy</td>
		</tr>
	</tbody>
</table>

<p>Show</p>
<p>Edit</p>
<p>Destroy</p>

<h2>New Book</h2>
	<%= form_for(@book) do |f| %>
	  <% if @book.errors.any? %>
	  <p><%= pluralize(@book.errors.count, "errror") %> prohibited this book from being saved:</p>
	  	<ul>
	  	  <% @book.errors.full_messages.each do |message| %>
	  	  <li><%= message %></li>
	  	  <% end %>
	  	</ul>
	  <% end %>
	<p>Title</p>
	<%= f.text_field :title%>

	<p>Body</p>
	<%= f.text_field :body%>

	<%= f.submit 'Create Book' %>
<% end %>