<body>
<p id="notice"><%= notice %></p>

<h1>Books</h1>
  <table>
	<thead>
	  <th>Title</th>
	  <th>Body</th>
	</thead>
    <tbody>
      <% @books.each do |book| %>
		<tr>
	      <td><%= book.title %></td>
		  <td><%= book.body %></td>
		  <td><%= link_to "Show", book_path(book.id)%></td>
		  <td><%= link_to "Edit", edit_book_path(book.id)%></td>
	      <td><%= link_to "Destroy", book_path(book.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	  <% end %>
	</tbody>
  </table>

<h2 class="newbook">New Book</h2>
　　<%= form_for(@book) do |f| %>
	  <% if @book.errors.any? %>
	    <h2 class="error-title"><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
	  	<ul class="error-content">
	  	  <% @book.errors.full_messages.each do |message| %>
	  	  <li class="error-message"><%= message %></li>
	  	  <% end %>
	  	</ul>
	  <% end %>
	  <div class="box">
	    <p class="box-title">Title</p>
	     <%= f.text_field :title%>
      </div>
      <div class="box">
	    <p class="box-title">Body</p>
	    <%= f.text_area :body %>
      </div>
	  <div class="create-book"><%= f.submit 'Create Book' %></div>
　　<% end %>
</body>